//declerate main font and color that use in site
$fontWeight-400: 400;
$fontWeight-700: 700;
$fontSize-10: 10px;
$fontSize-16: 16px;
$fontSize-14: 14px;
$titleBodySize: 15px;
$titleBodyColor: #515151;
